<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:be.container>
    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div class="typo3-docheader-functions">
                <div class="left">
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem controller="Demo" label="Demo" action="demo" />
                        <f:be.menus.actionMenuItem controller="Demo" label="Non existing" action="demo2" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="right">
                </div>
            </div>
            <div class="typo3-docheader-buttons">
                <div class="left">

                </div>
                <div class="right">
                    <f:be.buttons.shortcut />
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:render section="Content" />
            </div>
        </div>
    </div>
</f:be.container>

</html>